@import "bourbon";

/* // Core variables and mixins
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";
@import "../libs/bootstrap/scss/custom";

// Reset and dependencies
@import "../libs/bootstrap/scss/normalize";
@import "../libs/bootstrap/scss/print";

// Core CSS
@import "../libs/bootstrap/scss/reboot";
@import "../libs/bootstrap/scss/type";
@import "../libs/bootstrap/scss/grid";
@import "../libs/bootstrap/scss/forms";
@import "../libs/bootstrap/scss/buttons";

// Components
@import "../libs/bootstrap/scss/dropdown";
@import "../libs/bootstrap/scss/nav";
@import "../libs/bootstrap/scss/navbar";
@import "../libs/bootstrap/scss/breadcrumb";
@import "../libs/bootstrap/scss/badge";

// Utility classes
@import "../libs/bootstrap/scss/utilities";  */



// Core variables and mixins
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";
@import "../libs/bootstrap/scss/custom";

// Core CSS
@import "../libs/bootstrap/scss/images";
@import "../libs/bootstrap/scss/code";
@import "../libs/bootstrap/scss/tables";

// Components
@import "../libs/bootstrap/scss/transitions";
@import "../libs/bootstrap/scss/button-group";
@import "../libs/bootstrap/scss/input-group";
@import "../libs/bootstrap/scss/custom-forms";
@import "../libs/bootstrap/scss/card";
@import "../libs/bootstrap/scss/pagination";
@import "../libs/bootstrap/scss/jumbotron";
@import "../libs/bootstrap/scss/alert";
@import "../libs/bootstrap/scss/progress";
@import "../libs/bootstrap/scss/media";
@import "../libs/bootstrap/scss/list-group";
@import "../libs/bootstrap/scss/responsive-embed";
@import "../libs/bootstrap/scss/close";

// Components w/ JavaScript
@import "../libs/bootstrap/scss/modal";
@import "../libs/bootstrap/scss/tooltip";
@import "../libs/bootstrap/scss/popover";
@import "../libs/bootstrap/scss/carousel";

// My vars
@import "vars";

//Load Libs SASS
@import "../libs/animate/animate.sass";

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

//Custom Styles Here
@import "../libs/font-awesome/scss/font-awesome";
.our-product {
	position: relative;
	overflow: hidden;
	& .bg-mobile {
		position: absolute;
	}
}
.catalog {
	& .card {
		& a {
			& .black-wrapp {
				position: relative;
			    width: 100%;
			    height: 100%;
			    & .black-window {
					position: absolute;
					width: 100%;
					height: 100%;
					&:hover {
						transition: .3s;
						background-color: rgba(0, 0, 0, .6);
						& i {
							transition: .3s;
							visibility: visible;
							font-size: 6rem;
							color: #fff;
						}				
					}
					& i {
						visibility: hidden;
						color: #fff;
						font-size: 4rem;
					}
			    }
			}
		}
	}
}
.comments {
	& .carousel-indicators {
		bottom: -.5rem;
		& li {
			background-color: $firm-color + #333;
			&.active {
				background-color: $firm-color;
			} 
		}
	}
}
footer {
	& address {
		& p, .fa, a {
			font-size: 1.3rem;
		}
		& p, a {
			padding-left: .4rem;
		}
		& a {
			color: $firm-color;
			&:hover {
		    	color: $firm-color + #222;
		    	text-decoration: none;
		    }
		    &:visited {
		    	color: $firm-color;
		    }
		}
	}
}
//ALWAYS END
@import "media";
