@import "bourbon";

// Core variables and mixins
@import "../../libs/bootstrap/scss/variables";
@import "../../libs/bootstrap/scss/mixins";
@import "../../libs/bootstrap/scss/custom";

// Reset and dependencies
@import "../../libs/bootstrap/scss/normalize";
@import "../../libs/bootstrap/scss/print";

// Core CSS
@import "../../libs/bootstrap/scss/reboot";
@import "../../libs/bootstrap/scss/type";
@import "../../libs/bootstrap/scss/grid";
@import "../../libs/bootstrap/scss/forms";
@import "../../libs/bootstrap/scss/buttons";

// Components
@import "../../libs/bootstrap/scss/dropdown";
@import "../../libs/bootstrap/scss/nav";
@import "../../libs/bootstrap/scss/navbar";
@import "../../libs/bootstrap/scss/breadcrumb";
@import "../../libs/bootstrap/scss/badge";

// Utility classes
@import "../../libs/bootstrap/scss/utilities";

// My vars
@import "../vars";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: 'PT Sans', sans-serif;
	overflow-x: hidden;
	min-height: 100vh;
}
.firm-font {
	font-family: 'Kurale', serif;
}
.btn-cust {
	font-weight: 400;
	position: relative;
    background-color: $firm-color;
    border: none;
    color: #fff;
    &:hover {
    	background-color: $firm-color + #111;
    }
    &:visited {
    	color: #fff;
    }
}
.btn-outline-primary {
	color: $firm-color;
	border: .1rem solid $firm-color + #111;
	&:hover {
		background-color: $firm-color + #111;
		border: none;
	}
}

header {
	position: relative;
	height: 75vh;
	min-height: 15rem;
    background: url(http://monmartis.ru/assets/img/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.filter {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
}

.hidden {
	display: none;
}
